/*------HEADER------ */

.header {
	border-bottom: 1px solid var(--line-color);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 80px;
	background-color: #fff;
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 93px;
}

.nav__list {
	display: flex;
}

.nav__item {
	display: flex;
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}

.contacts__item:not(:last-child) {
	margin-right: 30px;
}

.nav__link,
.contacts__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--transit-dur) var(--transit-func);
}

.nav__link {
	color: var(--third-text-color);
}

.nav__link:hover,
.nav__link:focus {
	color: var(--accent-color);
}

.current {
	color: var(--accent-color);
	position: relative;
}

.current::after {
	content: "";
	position: absolute;
	bottom: -1px;

	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent-color);
}

.contacts {
	display: flex;
	margin-left: auto;
}

.contacts__link {
	display: flex;
	align-items: center;
	color: var(--first-text-color);
}

.contacts__link:hover,
.contacts__link:focus {
	color: var(--accent-color);
}

.contacts__icon--mail,
.contacts__icon--phone {
	margin-right: 10px;
	fill: currentColor;
}

/*------HERO------*/

.hero {
	background-color: var(--second-bg-color);
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	margin-left: auto;
	margin-top: 80px;
	margin-right: auto;
}

.hero__wrapper-text {
	width: 696px;
	margin-left: auto;
	margin-right: auto;
}

.hero__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--first-title-color);
	margin-bottom: 30px;
}

/*------FEATURES------*/

.features {
	padding-bottom: 0;
}

.features__list {
	display: flex;
}

.features__item {
	width: 270px;
}

.features__item:not(:last-child) {
	margin-right: 30px;
}

.features__bg-icon {
	height: 120px;
	background-color: var(--third-bg-color);
	margin-bottom: 30px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.features__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-title-color);
	margin-bottom: 10px;
}

.features__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/*------OCCUPATION------*/

.occupation__list {
	display: flex;
}

.occupation__item {
	width: 370px;
	position: relative;
}

.occupation__item:not(:last-child) {
	margin-right: 30px;
}

.occupation__desc {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.occupation__text {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-text-color);
}

/*------TEAM------*/

.team {
	background-color: var(--third-bg-color);
}

.team__list {
	display: flex;
}

.team__item {
	min-width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--first-bg-color);
}

.team__item:not(:last-child) {
	margin-right: 30px;
}

.team__description {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--second-title-color);
	margin-bottom: 10px;
}

.team__text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 16px;
}

.team__social-list {
	justify-content: center;
}

.team__social-link {
	background-color: var(--first-bg-color);
	color: var(--first-icon-color);
}

.team__icon {
	fill: currentColor;
}

/*------CLIENTS------*/

.clients__list {
	display: flex;
}

.clients__item {
	width: 170px;
	height: 92px;
}

.clients__item:not(:last-child) {
	margin-right: 30px;
}

.clients__link {
	color: var(--first-icon-color);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--first-icon-color);
	border-radius: 4px;
	transition: color var(--transit-dur) var(--transit-func),
		border-color var(--transit-dur) var(--transit-func);
}

.clients__icon {
	fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

/*------FOOTER------*/
.footer {
	background-color: var(--second-bg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__location,
.address__contacts {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address__location {
	color: var(--second-text-color);
}

.address__contacts {
	color: var(--contacts-color);
}

.footer__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-text-color);

	margin-bottom: 20px;
}

.footer__social-link {
	color: var(--second-icon-color);
	background-color: var(--icon-bg-color);
}

.footer__icon {
	fill: currentColor;
}

.footer__email {
	width: 358px;
	height: 50px;
	padding-left: 16px;
	margin-right: 12px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--second-text-color);
}

.footer__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__wrapper {
	display: flex;
}

.footer__icon {
	fill: currentColor;
}

/*PORTFOLIO*/

/*------WORKS------*/

.works {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 80px;
}

.filter-list {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}

.filter-list__item:not(:last-child) {
	margin-right: 8px;
}

.filter__btn {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
	background-color: var(--filter-button-bg-color);
	box-shadow: none;
	border: transparent;
	border-radius: 4px;
	padding: 6px 22px;
	transition: color var(--transit-dur) var(--transit-func),
		background-color var(--transit-dur) var(--transit-func),
		box-shadow var(--transit-dur) var(--transit-func);
}

.filter__btn:hover,
.filter__btn:focus {
	color: var(--second-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -30px;
}

.works__item {
	width: 370px;
	margin-top: 30px;
	margin-left: 30px;
	flex-basis: calc((100% - 3 * 30px) / 3);
}

.works__link {
	color: inherit;
	display: block;
	box-shadow: none;
	transition: box-shadow var(--transit-dur) var(--transit-func);
}

.works__link:hover,
.works__link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works__link:hover .works__overlay,
.works__link:focus .works__overlay {
	opacity: 1;
	transform: translateY(0);
}

.works__thumb {
	position: relative;
	overflow: hidden;
}

.works__overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	opacity: 0;
	transition: transform var(--transit-dur) var(--transit-func),
		opacity var(--transit-dur) var(--transit-func);
}

.works__card-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: 322px;
	font-size: 18px;
	line-height: calc(28 / 18);
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}

.works__desc {
	padding: 20px 24px;
	border: 1px solid var(--cards-border-color);
	border-top: none;
}

.works__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--second-title-color);
	margin-bottom: 4px;
}

.works__text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}
