.hero {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-top: 80px;
	margin-right: auto;

	text-align: center;

	background-color: var(--second-bg-color);
	background-image: linear-gradient(
			var(--hero-overlay-color),
			var(--hero-overlay-color)
		),
		url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero__wrapper-text {
	width: 696px;
	margin-left: auto;
	margin-right: auto;
}

.hero__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--first-title-color);
	margin-bottom: 30px;
}
