:root {
	--first-title-color: #ffffff;
	--second-title-color: #212121;
	--first-text-color: #757575;
	--second-text-color: #ffffff;
	--third-text-color: #212121;
	--accent-color: #2196f3;
	--contacts-color: rgba(255, 255, 255, 0.6);
	--additional-color: #000000;
	--button-hover-color: #188ce8;
	--filter-button-bg-color: #f5f4fa;
	--line-color: #ececec;
	--cards-border-color: #eeeeee;
	--first-bg-color: #ffffff;
	--second-bg-color: #2f303a;
	--third-bg-color: #f5f4fa;
	--first-icon-color: #afb1b8;
	--second-icon-color: #ffffff;
	--icon-bg-color: rgba(255, 255, 255, 0.1);
	--backdrop-color: rgba(0, 0, 0, 0.2);
	--transit-dur: 250ms;
	--transit-func: cubic-bezier(0.4, 0, 0.2, 1);
}
